@{
    ViewBag.Title = "Home Page";
}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://s1.1zoom.me/b4452/26/Flowering_trees_Branches_Pink_color_547722_1920x1080.jpg')">

            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://s1.1zoom.me/b5050/123/USA_Disneyland_Parks_California_Anaheim_Design_551858_1920x1080.jpg')">

            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->


            <div class="carousel-item" style="background-image: url('https://images2.alphacoders.com/261/26102.jpg')">

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <h1 class="my-4">Bienvenido a Planta Arboles por Páginas</h1>


    <div class="row">
        <div class="col-lg-6">
            <h2>¿Quiénes somos?</h2>
            <p>Somos una empresa comprometida con el medio ambiente y con la cultura la cual tiene como propósito: </p>
            <ul>
                <li>Fomentar la lectura para una generación llena de conocimiento.</li>
                <li>Apoyar el reabastecimiento de árboles que se han perdido debido a la gran cantidad de tala a nivel mundial</li>
                <li>Crear una cultura ambiental con respecto a devolver la vida que nos ha dado el planeta</li>
            </ul>
            <p>Ayúdanos a devolver al planeta un poco de los recursos que ha brindado a nuestra especie de una forma tan simple como leer libros</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="https://saposyprincesas.elmundo.es/wp-content/uploads/2018/06/libro.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Si quieres ver más acerca de nosotros</p>
        </div>
        <div class="col-md-4">
            <a href="https://https://twitter.com/ArbolPor" class="twitter-follow-button" data-show-count="false">Follow </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
    </div>

</div>
<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PAPP 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->

<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>